<div class="text-center">
  <span class="text-primary text-sm">Encuéntranos aquí:</span>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2078.702046398251!2d-68.93664698137043!3d-22.452708052230825!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96ac09be931b9e21%3A0x4a5a1236ae98b4b7!2sMaip%C3%BA%202646%2C%201392088%20Calama%2C%20Antofagasta!5e0!3m2!1ses!2scl!4v1749147313814!5m2!1ses!2scl"
    width="200"
    height="150"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="rounded-sm"
  >
  </iframe>
 
</div>
