<div class="text-center">
    <span class="text-primary text-sm">Encuéntranos aquí:</span>
    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3687.542846625416!2d-68.93260592395154!3d-22.446226079581898!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96ac09ead4bd47eb%3A0x847e0466c4b68efc!2sEj%C3%A9rcito%20%26%20Escocia%2C%201393257%20Calama%2C%20Antofagasta!5e0!3m2!1ses!2scl!4v1728400292171!5m2!1ses!2scl" 
        width="200" 
        height="150" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade"
        class="rounded-sm"
        >
        
    </iframe>
</div>