<div class="text-center">
  <span class="text-primary text-sm">Encuéntranos aquí:</span>
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d921.9147056722937!2d-68.9255883303697!3d-22.441863698724053!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96ac09ec0f82ed27%3A0x977649a52231087f!2sRiquelme%20%26%20Amincha%2C%201390224%20Calama%2C%20Antofagasta!5e0!3m2!1ses!2scl!4v1741365351789!5m2!1ses!2scl"
    width="200"
    height="150"
    style="border:0;"
    allowfullscreen=""
    loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"
    class="rounded-sm"
  >
  </iframe>
</div>
