---
import Maps from "../components/Maps.astro";
---

<footer class="w-full mt-10 border-primary border-t-2 flex flex-col md:flex-row justify-center items-center md:justify-between pt-10 pb-20">
    <span class="text-primary text-center">
        @ 2024 Stefy Food
        <span aria-hidden class="hidden md:inline">/</span> 
        <br aria-hidden class="block md:hidden" />
        Todos los derechos reservados.
    </span>
    <Maps />

    <ul class="flex flex-row gap-x-6 items-center mt-4 md:mt-0 ">
        <li>
            <a href="https://www.instagram.com/stefy_food1/" target="_blank" rel="noopener" class="text-primary hover:scale-125 hover:opacity-70 transition inline-block">
                <img src="/instagram.svg" alt="Instagram" width="40" />
            </a>
        </li>
        <li>
            <a href="https://www.instagram.com/stefy_food1/" target="_blank" rel="noopener" class="text-primary hover:scale-125 hover:opacity-70 transition inline-block">
                <img src="/facebook.svg" alt="facebook" width="50" />
            </a>
        </li>
    </ul>
    

</footer>