---
// const API_URL = import.meta.env.API_URL;


// const response = await fetch(`${API_URL}/api/home?populate=*`).then((res) => res.json());

// console.log(response);

// const { title, description,cover,logo } = response.data;
---
<section>
    <div class="mb-2">
        <img src="/images/cachapa-cover.jpg"
            alt="logo stefy food"
            class=" object-cover h-28 md:h-48 w-full rounded-b-lg"  
        />
    </div>    
    <div class="flex justify-center md:justify-start md:gap-x-20 items-center gap-4">
        <img src="/images/logo_stefy_food.png"
            alt="logo stefy food"
            class="w-20 h-20 md:w-40 md:h-40 rounded-full shadow-lg"
        />
        <div>
            <h1 class="text-primary font-extrabold text-4xl md:text-7xl my-2">Stefy Food</h1>
            <h4 class="text-primary text-sm md:text-base ">
                La mejor comida rápida de Calama. <br>
                <span class="text-red-500">➤</span> Encuentranos en ejercito con escocia. <br>
                <span class="text-red-500">🛵</span> Delivery a toda Calama. <br>
                <span class="text-red-500">🕛</span> Horario de Lunes a Domingo.
                             
            </h4>
        </div>
    </div>
</section>