---
import Card from "../components/Card.astro";
---

<section class="flex md:flex-row md:justify-evenly">
    <Card title="Hamburguesa" href="#" body="hamburguesa" />
    <Card title="Hamburguesa" href="#" body="hamburguesa" />
</section>