<section class="bg-yellow-400 text-center p-4 mt-6 mx-auto max-w-4xl rounded-lg shadow-lg hover:scale-105 transition-transform duration-300">
    <h2 class=" text-xl md:text-2xl font-bold text-primary">
        ¡Pregunta por la Promoción del día!
    </h2>
</section>